/* Styles pour la page "Le Retour de Monsieur Seguin" */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffc12b;
}

header {
  background-image: url('https://github.com/VincentM1978/VincentM1978.github.io/blob/main/home-ok-test-chevre-larzac-1250x550.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 32px;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

h3 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
